body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url("images/white background.jpg") no-repeat center center fixed;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 1.8em;
}

section h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}